.header-logo {
  padding-left: 3%;
  padding-right: 16%;
}

.header-logo img {
  max-width: 605px;
  width: 100%;
}

.fancybox-dialog-contents {
  display: none;
  max-width: 800px;
  overflow: auto;
}

.pricing-section {
  margin: 50px 0;
}

@media(min-width:768px) {
  .pricing-section {
    padding: 0 50px;
  }
}

/*
  Adds an offset to an anchor target to prevent the fixed navigation bar from
  covering up the target's content. The margin and padding size should be
  adjusted if the navigation bar size is ever changed.
*/
.anchor-target:before {
  content: "";
  display: block;
  margin-top: -70px;
  padding-top: 70px;
}
