You have received a new client pre-interview questionnaire:

Here are the details:


Name: {{name}}

Previous names: {{previous_names}}

Date of birth: {{dob}}

Birth place: {{birthplace}}

Mother's name: {{mother}}

Father's name: {{father}}

Siblings: {{siblings}}

Important People: {{important_people}}

College: {{college}}

Military: {{military}}

Career: {{career}}

Spouse info: {{married}}

Children info: {{children}}

Religion: {{religion}}

Other Important Details:{{anything_else}}

Contact Info: {{contact_info}}

Limitations: {{limitations}}