<p>You have received a new client pre-interview questionnaire:</p>

<p>Here are the details:</p>

<br />

<p>Name: {{name}}</p>

<p>Previous names: {{previous_names}}</p>

<p>Date of birth: {{dob}}</p>

<p>Birth place: {{birthplace}}</p>

<p>Mother's name: {{mother}}</p>

<p>Father's name: {{father}}</p>

<p>Siblings: {{siblings}}</p>

<p>Important People: {{important_people}}</p>

<p>College: {{college}}</p>

<p>Military: {{military}}</p>

<p>Career: {{career}}</p>

<p>Spouse info: {{married}}</p>

<p>Children info: {{children}}</p>

<p>Religion: {{religion}}</p>

<p>Other Important Details:{{anything_else}}</p>

<p>Contact Info: {{contact_info}}</p>

<p>Limitations: {{limitations}}</p>
