<p>You have received a new client pre-interview questionnaire:</p>

<p>Here are the details:</p>

<br/>

<p>Name: {{name}}</p>

<p><strong>Please describe the home and neighborhood in which you grew up. Tell us about your room, where your family spent most of its time, and what it was like to grow up there.</strong><br />
{{question1}}</p>

<p><strong>What are you most passionate about in this world? How did you discover this passion, and what have you done to embrace and explore it?</strong><br/>
{{question2}}</p>

<p><strong>Write about the happiest time in your life. Why do you feel so strongly about this particular time and what separates it from other happy periods of your life?</strong><br/>
{{question3}}</p>

<p><strong>What do you want to be remembered for after you pass on? What legacy do you want to leave to your loved ones?</strong><br/>
{{question4}}</p>
